<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
			<add name="DatabaseLP" 
				 connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Romanticore\source\repos\ASP.NETCORE model-view-control\ServerDatabase\DatabaseLP.mdf;Integrated Security=True"/>
		</connectionStrings>
</configuration>